candidates-web-api/.vs/CandidatesWebAPI/FileContentIndex/bb2b5c4d-517c-40bc-816e-a29e8272a59c.vsidx
candidates-web-api/.vs/CandidatesWebAPI/FileContentIndex/a3cc3d2d-6132-4cbe-9744-183e68d12a3f.vsidx
candidates-web-api/.vs/CandidatesWebAPI/FileContentIndex/07fbcaca-6bd0-439a-89cc-335e284cf8c4.vsidx
