@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  /* font-family: "Reddit Mono", monospace; */
  font-family: "Open Sans", sans-serif;
}

.Headings {
  text-align: center;
  padding-bottom: 25px;
}


.Table {
  margin:2%;
  padding: 25px;  
  text-align: center;
  /* border-color: #272b2c;
  border-style: solid; */
}

.AddCandidateForm {
  text-align: left;
  padding-top: 10px;
  /* visibility:initial; */
}

body {
  background-color: black;
  color: white;
  padding: 40px;
  text-align: left;
}

.Table tr:hover {
  background-color:rgb(110, 110, 110);
  cursor: pointer;
  
}

.Table {
  text-align: left;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  box-sizing: border-box;
}

.Table th, .Table td {
  /* border: 1px solid white; */
  
  padding: 10px;
}

.Table th {
  text-align: left;
}

.Table td {
  text-align: left;
  /* border-bottom: 1px solid white; */
}

/* .Table td:hover {
  text-align: left;
  border-bottom: 1px solid white;
} */

.hidden {
  display: none;
}

.Func {
  padding-top: 10px;
}

.TableWrapper {
  display: flex;
  justify-content: center;
}

.ButtonGroup {
  display: flex;
  justify-content:end;
}

.Main{
  text-align: center;
}

.AddCandidateForm {
  text-align: center;
}

.AddCandidateForm input {
  padding: 5px;
  margin-right: 5px;
}

.AddCandidateButton
{
  padding: 5px;
  width: 130px;
}

.ButtonGroup button {
  padding: 5px;
  margin-right: 5px;
}

.EditCandidateColumn {
  border: none !important;
}

.EditCandidateColumn :hover {
  background-color: none !important;
}

.CancelEditButton {
  visibility: hidden;
}